{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    <!-- =======================
    Page Banner START -->
    <section class="pt-5 pb-0" style="background-image:url(assets/images/element/map.svg); background-position: center left; background-size: cover;">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-xl-6 text-center mx-auto">
                    <!-- Title -->
                    <h6 class="text-primary">Contactez Nous</h6>
                    <h1 class="mb-4">On est la pour vous aider!</h1>
                </div>
            </div>

            <!-- Contact info box -->
            <div class="row g-4 g-md-5 mt-0 mt-lg-3">


                <!-- Box item -->
                <div class="card card-body shadow py-5 text-center h-100">
                    <!-- Title -->
                    <h5 class="mb-3">Adresse</h5>
                    <ul class="list-inline mb-0">
                        <!-- Address -->
                        <li class="list-item mb-3 h6 fw-light">
                            <a href="#"> <i class="fas fa-fw fa-map-marker-alt me-2 mt-1"></i>5 route de Sartrouville<br>78110 LE VÉSINET<br>France</a>
                        </li>
                        <!-- Phone number -->
                        <li class="list-item mb-3 h6 fw-light">
                            <a href="#"> <i class="fas fa-fw fa-phone-alt me-2"></i>09 97 65 41 23 </a>
                        </li>
                        <!-- Email id -->
                        <li class="list-item mb-0 h6 fw-light">
                            <a href="#"> <i class="far fa-fw fa-envelope me-2"></i>academief2c@gmail.com</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- =======================
    Page Banner END -->

    <!-- =======================
    Image and contact form START -->
    <section >
        <div class="container">
            <div class="row g-4 g-lg-0 align-items-center">

                <div class="col-md-6 align-items-center text-center">
                    <!-- Image -->
                    <img src="assets/images/element/contact.svg" class="h-400px" alt="">

                    <!-- Social media button -->
                    <div class="d-sm-flex align-items-center justify-content-center mt-2 mt-sm-4">
                        <h5 class="mb-0">Suivez nous sur:</h5>
                        <ul class="list-inline mb-0 ms-sm-2">
                            <li class="list-inline-item"> <a class="fs-5 me-1 text-facebook" href="#"><i class="fab fa-fw fa-facebook-square"></i></a> </li>
                            <li class="list-inline-item"> <a class="fs-5 me-1 text-instagram" href="#"><i class="fab fa-fw fa-instagram"></i></a> </li>
                            <li class="list-inline-item"> <a class="fs-5 me-1 text-twitter" href="#"><i class="fab fa-fw fa-twitter"></i></a> </li>
                            <li class="list-inline-item"> <a class="fs-5 me-1 text-linkedin" href="#"><i class="fab fa-fw fa-linkedin-in"></i></a> </li>
                        </ul>
                    </div>
                </div>

                <!-- Contact form START -->
                <div class="col-md-6">
                    <!-- Title -->
                    <h2 class="mt-4 mt-md-0">Parlons</h2>
                    <p>Pour une demande ou prendre rendez-vous autour d'un café, contactez-nous directement ou remplissez le formulaire et nous vous répondrons rapidement.</p>

                    {{ form_start(form)}}
                        <!-- Name -->
                        <div class="mb-4 bg-light-input">
                            <label for="yourName" class="form-label">Votre nom *</label>
                            {{ form_row(form.nom, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <!-- Name -->
                        <div class="mb-4 bg-light-input">
                            <label for="yourName" class="form-label">Votre prenom *</label>
                            {{ form_row(form.prenom, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <!-- Name -->
                        <div class="mb-4 bg-light-input">
                            <label for="yourName" class="form-label">Email *</label>
                            {{ form_row(form.email, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <!-- Email -->
                        <div class="mb-4 bg-light-input">
                            <label for="emailInput" class="form-label">N° telephone</label>
                            {{ form_row(form.numero, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <!-- Message -->
                        <div class="mb-4 bg-light-input">
                            <label for="textareaBox" class="form-label">Message *</label>
                            {{ form_row(form.message, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    <label for="textareaBox" class="form-label">Les champs avec * sont obligatoires</label>

                    <!-- Button -->
                        <div class="d-grid">
                            <button class="btn btn-lg btn-primary mb-0" type="submit">Envoyer le message</button>
                        </div>
                    {{ form_end(form)}}
                </div>
                <!-- Contact form END -->
            </div>
        </div>
    </section>
    <!-- =======================
    Image and contact form END -->

    <!-- =======================
    Map START -->
    <section class="pt-0">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <iframe class="w-100 h-400px grayscale rounded"
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2622.8908494701973!2d2.1114146148923636!3d48.898417305842806!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66288f54f78f3%3A0x784874c5e5836f20!2s5%20Rte%20de%20Sartrouville%2C%2078110%20Le%20V%C3%A9sinet%2C%20France!5e0!3m2!1sfr!2sma!4v1657796764114!5m2!1sfr!2sma"
                            width="1000" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </section>
    <!-- =======================
    Map END -->

    </main>
    <!-- **************** MAIN CONTENT END **************** -->


{% endblock %}
