{% extends 'base.html.twig' %}

{% block title %}{{ actus.title|upper}}{% endblock %}

{% block body %}
    <link rel="stylesheet" type="text/css" href="{{ asset("assets/vendor/font-awesome/css/all.min.css") }}">
    <link rel="stylesheet" type="text/css" href="{{ asset("assets/vendor/bootstrap-icons/bootstrap-icons.css") }}">
    <link rel="stylesheet" type="text/css" href="{{ asset("assets/vendor/tiny-slider/tiny-slider.css") }}">
    <link rel="stylesheet" type="text/css" href="{{ asset("assets/vendor/glightbox/css/glightbox.css") }}">
    <link id="style-switch" rel="stylesheet" type="text/css" href="{{ asset("assets/css/style.css") }}">

    <!-- =======================
Main Content START -->
<main>
    <section class="pb-0 pt-4 pb-md-5">
        <div class="container">
            <div class="row g-0 g-lg-5">
                <div class="col-xl-8">
                    <!-- Pre title -->
                    <span>{{ actus.date|date('d-m-Y') }}</span>
                    <span class="mx-2">|</span>
                    <div class="badge bg-danger text-white">Actualité</div>
                    <!-- Title -->
                    <h2>{{ actus.title|upper }}</h2>
                    <!-- Info -->
                    <p> {{ actus.description|raw }}</p>
                </div>

                <!-- Left sidebar START -->
                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-md-6 col-lg-12">
                            <!-- Instructor image START -->
                            <div class="card shadow p-2 mb-4 text-center">
                                <!-- Card body -->
                                <div class="card-body px-3">
                                    <!-- Rating -->
                                    <h5>Partagez sur: </h5>
                                    <!-- Social media button -->
                                    <ul class="list-inline mb-0">
                                        <li class="list-inline-item"><a class="btn px-2 btn-sm bg-facebook"  href="#">
                                                <i class="fab fa-fw fa-facebook-f"></i></a></li>
                                        <li class="list-inline-item"><a class="btn px-2 btn-sm bg-instagram-gradient" href="#">
                                                <i class="fab fa-fw fa-instagram"></i></a></li>
                                        <li class="list-inline-item"><a class="btn px-2 btn-sm bg-twitter" href="#">
                                                <i class="fab fa-fw fa-twitter"></i></a></li>
                                        <li class="list-inline-item"><a class="btn px-2 btn-sm bg-linkedin" href="#">
                                                <i class="fab fa-fw fa-linkedin-in"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- Instructor image END -->
                        </div>

                        <div class="col-md-6 col-lg-12">
                            <div class="card card-body shadow p-4 mb-4">

                                <!-- Education START -->
                                <!-- Title -->
                                <h4 class="mb-3">Formations</h4>

                                {% for formations in formations %}
                                    <div style="margin-left: 15px;">
                                        <a href="{{ path('formation_app_view_formations',{'id':formations.id}) }}" style="color:#747579;">
                                            <h7> {{ formations.title|upper }}</h7>
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div> <!-- Row End -->
                </div>
                <!-- Left sidebar END -->



                <div class="col-12">

                    <hr> <!-- Divider -->

                    <!-- Comment review and form START -->
                    <div class="row mt-4">
                        <!-- Comment START -->
                        <div class="col-md-7">
                            <h3>Commentaires</h3>


                            <!-- Comment level 1-->
                            {% for comments in actus.commentsActus %}
                                {% if comments.etat == 1 %}
                                    <div class="my-4 d-flex">
                                        <div>
                                            <div class="mb-2">
                                                <h5 class="m-0">{{ comments.prenom|lower }} {{ comments.nom|upper }}</h5>
                                                <span class="me-3 small">{{ comments.date|date('d-m-Y') }}</span>
                                            </div>
                                            <p>{{ comments.avis }}</p>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}

                        </div>
                        <!-- Comment END -->


                        <!-- Form START -->
                        <div class="col-md-5">
                            <!-- Title -->
                            <h3 class="mt-3 mt-sm-0">Votre avis nous interesse!</h3>
                            <small>Votre email ne sera pas publié dans les commentaires</small>

                            {{ form_start(commentBlog, {'attr': {'class': 'row g-3 mt-2 mb-5'}}) }}
                            <!-- Name -->
                            <div class="col-lg-6">

                                <label class="form-label">Nom *</label>
                                {{ form_row(commentBlog.nom, {'attr': {'class': 'form-control'}}) }}
                            </div>

                            <!-- Prenom -->
                            <div class="col-lg-6">
                                <label class="form-label">Prenom *</label>
                                {{ form_row(commentBlog.prenom, {'attr': {'class': 'form-control'}}) }}
                            </div>

                            <!-- Email -->
                            <div class="col-lg-20">
                                <label class="form-label">Email *</label>
                                {{ form_row(commentBlog.email, {'attr': {'class': 'form-control'}}) }}
                            </div>

                            <!-- Comment -->
                            <div class="col-12">
                                <label class="form-label">Avis *</label>
                                {{ form_row(commentBlog.avis, {'attr': {'class': 'form-control'}}) }}
                            </div>

                            <!-- Button -->
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary mb-0">Publier</button>
                            </div>

                            {{ form_end(commentBlog)}}

                        </div>
                        <!-- Form END -->
                    </div>
                    <!-- Comment review and form END -->
                </div>
            </div> <!-- Row END -->
        </div>
    </section>
    <!-- =======================
    Main Content END -->

    <!-- =======================
    Related blog START -->
    <section class="pt-0">
        <div class="container">
            <!-- Title -->
            <div class="row mb-4">
                <div class="col-12">

                    <h2 class="mb-0">Vous pouvez aimer aussi</h2>
                </div>
            </div>

            <!-- Slider START -->
            <div class="tiny-slider arrow-round arrow-hover arrow-dark">


                <div class="tiny-slider-inner" data-autoplay="false" data-arrow="true" data-edge="2" data-dots="false" data-items="3" data-items-lg="2" data-items-sm="1">
                    <!-- Slider item -->
                    {% for allActus in allActus %}
                        <div class="card bg-transparent">
                            <div class="row g-0">
                                <!-- Image -->
                                <div class="col-md-4">
                                    <img src="{{ asset('assets/images/event/04.jpg') }}" class="img-fluid rounded-start" alt="...">
                                </div>
                                <!-- Card body -->
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <!-- Title -->
                                        <h6 class="card-title"><a href="{{ path('actualites_app_view_actualites',{'id':allActus.id}) }}">{{ allActus.title|u.truncate(45, '...', false) }}</a></h6>
                                        <span class="small">{{ allActus.date|date('d-m-Y') }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <!-- Slider END -->
        </div>
    </section>
    <!-- =======================
    Related blog END -->

    </main>
    <!-- **************** MAIN CONTENT END **************** -->


{% endblock %}